In [ ]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\matheus.lourenco\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.3.3)

ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

In [1]:
import pandas as pd

df = pd.read_csv('C:/Users/matheus.lourenco/OneDrive - OneWorkplace/Documentos/Git Hub/Hashtag_AnaliseDados/Python/Cursos/Curso Hashtag/06_Pandas/Csv/Contoso - Cadastro Produtos.csv', sep=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1690 entries, 0 to 1689
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Nome da Marca   1690 non-null   object
 1   Tipo            1690 non-null   object
 2   Custo Unitario  1690 non-null   object
 3   Preco Unitario  1690 non-null   object
 4   ID Produto      1690 non-null   int64
 5   Categoria       1690 non-null   object
dtypes: int64(1), object(5)
memory usage: 79.3+ KB

In [34]:
df.head()

,Nome da Marca,Tipo,Custo Unitario,Preco Unitario,ID Produto,Categoria
0,Contoso,Econômico,"10,69","20,96",873,Acessório para Computador
1,Contoso,Econômico,"6,63",13,879,Acessório para Computador
2,Contoso,Econômico,"6,63",13,880,Acessório para Computador
3,Contoso,Econômico,"6,63",13,881,Acessório para Computador
4,Contoso,Econômico,"6,63",13,882,Acessório para Computador

In [35]:
df[['ID Produto','Nome da Marca', 'Tipo']]

      ID Produto     Nome da Marca       Tipo
0            873           Contoso  Econômico
1            879           Contoso  Econômico
2            880           Contoso  Econômico
3            881           Contoso  Econômico
4            882           Contoso  Econômico
...          ...               ...        ...
1685        1602  Southridge Video    Regular
1686        1606  Southridge Video    Regular
1687        1607  Southridge Video    Regular
1688        1611  Southridge Video    Regular
1689        1612  Southridge Video    Regular

[1690 rows x 3 columns]

In [30]:
df.set_index('ID Produto', inplace=True)
df

,Nome da Marca,Tipo,Custo Unitario,Preco Unitario,Categoria
ID Produto,,,,,
873,Contoso,Econômico,"10,69","20,96",Acessório para Computador
879,Contoso,Econômico,"6,63",13,Acessório para Computador
880,Contoso,Econômico,"6,63",13,Acessório para Computador
881,Contoso,Econômico,"6,63",13,Acessório para Computador
882,Contoso,Econômico,"6,63",13,Acessório para Computador
...,...,...,...,...,...
1602,Southridge Video,Regular,"82,77","179,99",Filme DVD
1606,Southridge Video,Regular,"73,57","159,99",Filme DVD
1607,Southridge Video,Regular,"82,77","179,99",Filme DVD
1611,Southridge Video,Regular,"73,57","159,99",Filme DVD
1612,Southridge Video,Regular,"82,77","179,99",Filme DVD

In [31]:
df2 = pd.read_csv('C:/Users/matheus.lourenco/OneDrive - OneWorkplace/Documentos/Git Hub/Hashtag_AnaliseDados/Python/Cursos/Curso Hashtag/06_Pandas/Csv\'s/Contoso - Vendas - 2017.csv', sep=';')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980642 entries, 0 to 980641
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Numero da Venda       980642 non-null  int64
 1   Data da Venda         980642 non-null  object
 2   Data do Envio         980642 non-null  object
 3   ID Canal              980642 non-null  int64
 4   ID Loja               980642 non-null  int64
 5   ID Produto            980642 non-null  int64
 6   ID Promocao           980642 non-null  int64
 7   ID Cliente            980642 non-null  int64
 8   Quantidade Vendida    980642 non-null  int64
 9   Quantidade Devolvida  980642 non-null  int64
dtypes: int64(8), object(2)
memory usage: 74.8+ MB

In [32]:
df2.head()

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1
1,2,01/01/2017,06/01/2017,5,308,1586,2,18469,9,1
2,3,01/01/2017,01/01/2017,0,294,1444,5,19730,13,1
3,4,01/01/2017,01/01/2017,0,251,1468,5,29326,6,1
4,5,01/01/2017,07/01/2017,6,94,1106,2,22617,4,1